beautifulsoup4==4.6.0
Flask==0.12.2
Flask-RESTful==0.3.6
gevent==1.2.2
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.11.3
lxml==4.1.0
peewee==2.10.2
peewee-migrate==0.14.0
PyMySQL==0.7.11
redis==2.10.6
requests==2.18.4
Twisted==17.9.0
urllib3==1.22
Werkzeug==0.12.2

